<div class="container">
    <br>
  <div class="row">
      <div class="col-lg-12 text-center">
          <h2>About Us</h2>
          <hr class="star-primary">
      </div>
  </div>
  <div class="col-md-9">
      <p>Welcome to ToDo!</p>
      <p>This project is aimed to create a ready to deploy Live TODO List management system. For this project frontend technology is Angular and backend technology is NodeJS and database is MongoDB.</p>

      <p>In user management system their are three functionality signup, login and forgot password, new user can sign up and previous user can login. For login we check authentication by comparing email and password with database.</p>
      
      <p>In this project there are two types of user single user and multiple users. When single user  logs into the system, he can see an option to create a To Do List  and user is able to create, a new empty list, by clicking on a create button as well as add, delete and edit items to the list . Also the user is able to add sub-to-do-items, as child of any item node. Such that, complete list should take a tree shape, with items able to mark an item as "done" or "open" in addition he can see his old To Do Lists, once logged in. Multiple user can logs into system they are able to edit, delete, update the list of the user. Also the list is in sync with all friends. Any friend is able to undo, any number of actions, done in past. Undo action remove the last change, done by any user. So, history of all actions is persisted in database, so as, not to lose actions done in past.</p> 
      
      <p>While in Error Views and messages all kinds of errors, exceptions and messages are handled properly in angular such that user should aware of what happing in system.</p>
  </div>

</div>