.mainhead{
    background-color: black;
    color: azure;
    font-size: 35px;
    text-align: center;
    padding: 10px;
}
.logoimg{
    height: 70px;
    width: 120px;
}
.navbar .nav-item:hover{
   
    border-bottom: 5px solid orange;
    border-top: 5px solid orange;
    color: blue;
}

.nav-item{
    padding: 20px;
}
.disable{
    display: none;
}
.active{
    border-bottom: 5px solid orange;
    border-top: 5px solid orange;
}
.navbar-default {
    background-color: #e7e7e7;
    color: black;
}
@media (min-width: 320px) and (max-width: 480px) {
    img{
        height: 10px;
    }
}