<h2 style="text-align:center;">{{listName}} ToDo</h2>
        <div id="todo-table">
            <form id="insert-item" autocomplete="off">
                <input type="text" name="newItem" [(ngModel)]="newItem" placeholder="Add New Item" required>
                <button type="submit" (click)="add()">Add</button>
            </form>
            <form id="update-item" style="display: none;" autocomplete="off">
                <input type="text" name="updateItem" [(ngModel)]="updateItem" placeholder="Add Update Item" required>
                <button type="submit" (click)="update()">Update</button>
            </form>
            <ul>
              <li *ngFor="let item of json | keyvalue;let i = index" [attr.data-status]="item.value.status">{{i+1}}. {{item.value.name}}
                    <i class="addChild float-right fa fa-fw fa-plus" [hidden]="item.value.child !=''" (click)="addChild(i)"></i>
                    <i class="done float-right fa fa-fw fa-check" *ngIf="item.value.status == 'open'" (click)="done(item)"></i>
                    <i class="delete float-right fa fa-fw fa-trash" (click)="delete(item.key)"></i>
                    <i class="update float-right fa fa-fw fa-pencil" (click)="updateView(item.value.name,item.key)"></i>
                    <form id="insert-child-{{i}}" *ngIf="item.value.child!='' || item.value.show"  style="display:block" autocomplete="off">
                        <input type="text" id="childItem-{{i}}" placeholder="Add Child Item" required>
                        <button class="childAdd" type="submit" (click)="childAdd(i)">Add Child</button>
                    </form>
                    <form id="update-child-{{i}}" style="display: none;" autocomplete="off">
                            <input type="text" id="updateCItem-{{i}}" placeholder="Update Child Item" required>
                            <button class="childAdd" type="submit" (click)="updateChild(i)">Update Child</button>
                    </form>
                    <ol type="a">
                        <li *ngFor="let Citem of item.value.child;let ci=index">{{Citem}}
                                <i class="delete float-right fa fa-fw fa-trash" (click)="deleteChild(i,ci)"></i>
                                <i class="update float-right fa fa-fw fa-pencil" (click)="updateChildView(i,ci,Citem)"></i>
                        </li>
                    </ol>
              </li> 
            </ul>
        </div>